@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  /* Gradient for text and bars */
  --gradient-text: linear-gradient(89.97deg, #2A7C6F 1.84%, #0E4747 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #2A7C6F -13.86%, #000000 99.55%);

  /* Background Colors */
  --color-bg: #000000; /* Light background similar to Pachama */
  --color-footer: #000000;
  --color-accent-green: #ffff;
  --color-dark: #000000;
  --color-text: #4C5C68; /* Main text color */
  --color-subtext: #81AFDD; /* Secondary accent */
}
